h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
    color: #0c5091;
    font-weight: 800;
}

h2.about {
    text-align: center;
    font-size: 30px;
}

h2.bigger_heading {
    font-size: 1.8em;
    color: #101b80;
    font-weight: 1000;
}

body {
    background-image: url("images/Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
